.display-3 {
    font-family: 'Acme', sans-serif;
    color: white;
}

#background {
    background-image: url(https://images6.alphacoders.com/849/849501.jpg);
    height: 100%;
}

.crystal-image {
    width: 100px;
    height: 300px;
    margin-left: 45px;
    margin-right: 45px;
}

#number-to-guess {
    height: 100px;
    font-size: 30px;
    text-align: center;
}


#totalscore {
    height: 100px;
    font-size: 30px;
    text-align: center;
}

#crashpic {
    float: right;
}

.lead, #number-to-guess, #totalscore {
    color: white;
}
